<div class="login-wrapper">
    <form class="login">
        <section class="title">
            <h3 class="welcome">Welcome to</h3>
            Legal Casino Inc
            <h5 class="hint">Use your Legal Casion ID to sign in or create one now</h5>
        </section>
        <div class="login-group">
            <clr-input-container>
                <input type="text" name="email" clrInput placeholder="E-mail" [(ngModel)]="email"/>
            </clr-input-container>
            <clr-password-container>
                <input type="password" name="password" clrPassword placeholder="Password" [(ngModel)]="password"/>
            </clr-password-container>
            <clr-checkbox-wrapper>
                <label>Remember me</label>
                <input type="checkbox" name="rememberMe" clrCheckbox [(ngModel)]="rememberMe"/>
            </clr-checkbox-wrapper>
            <div class="error active" *ngIf='loginError'>
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">NEXT</button>
            <a href="javascript://" class="signup">Sign up for a Legal Casino ID</a>
        </div>
    </form>
</div>