<div class="main-container">
  <div *ngIf='error' class="alert alert-app-level">
    ...
  </div>
  <header class="header header-7">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="coin-bag"></clr-icon>
        <span class="title">Legal Casino Inc</span>
      </a>
    </div>
    <div *ngIf='loggedIn' class="header-actions">
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
                {{ this._user.email }}
                <clr-icon shape="caret down"></clr-icon>
            </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <!--<a href="..." clrDropdownItem>Preferences</a>-->
          <a (click)='logOut()' routerLink='./main' clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div *ngIf="!loggedIn" class="header-actions">
      <a routerLink='../login' class="nav-link nav-icon">
        <clr-icon shape="user"></clr-icon>
      </a>
    </div>
  </header>
  <nav *ngIf='loggedIn'>
    <ul style="display:flex; list-style-type:none; justify-content: space-evenly;">
      <li *ngFor="let ticker of _user.watchlist">
        <a (click)="display(ticker.symbol, ticker.companyName)" class="label label-blue clickable">{{ ticker.symbol }} {{ ticker.companyName }}</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <h2>
        {{ active_company }}
      </h2>
      <button class="btn btn-outline" (click)="addToWatchlist()" *ngIf="loggedIn && active_symbol && !active_watchlist">
        <clr-icon shape="star"></clr-icon>
        Add to Watchlist
      </button>
      <button class="btn btn-outline" (click)="removeFromWatchlist()" *ngIf="loggedIn && active_symbol && active_watchlist">
        <clr-icon shape="star"></clr-icon>
        Remove from Watchlist
      </button>
      <app-chart [symbol]='active_symbol'></app-chart>
    </div>
    <clr-vertical-nav>
      <div>
        <form (submit)="symbolSearch()" class="search">
          <label for="search_input">
            <clr-icon shape="search"></clr-icon>
            <input name="search_box" id="search_input" type="text" placeholder="Search for symbol..." 
            [(ngModel)]="search" (click)="symbolSearch()">
        </label>
        </form>
      </div>
      <ul class="list" style="list-style-type:none;">
        <li *ngFor="let ticker of ticker_results">
          <div class="clr-row">
            <div class="clr-col-11">
              <a (click)="display(ticker.symbol, ticker.name)" class="card clickable">
                <div class="card-header">
                  {{ ticker.symbol }}
                </div>
                <div class="card-block">
                  <p class="card-text">
                    {{ ticker.name }}
                  </p>
                </div>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </clr-vertical-nav>
  </div>
</div>